* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.rocket_container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.capsule {
    position: absolute;
    bottom: 0;
    left: -400px;
    animation: rocket_icon 5s infinite linear;
    opacity: 0;
}

.rocket_width {
    width: 450px;
}

@keyframes rocket_icon {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    5% {
        transform: translateX(6vw);
    }

    10% {
        transform: translateX(12vw);
    }

    15% {
        transform: translateX(18vw);
    }

    20% {
        transform: translateX(24vw);
    }

    25% {
        transform: translateX(30vw);
    }

    30% {
        transform: translateX(36vw);
    }

    35% {
        transform: translateX(42vw);
    }

    40% {
        transform: translate(48vw);
    }

    45% {
        transform: translate(54vw) ;
    }

    50% {
        transform: translate(59.9vw, -0.1vh) rotate(-0.25deg);
    }

    51% {
        transform: translate(61vw, -0.4vh) rotate(-0.50deg);
    }

    52% {
        transform: translate(62vw, -0.7vh) rotate(-0.75deg);
    }

    53% {
        transform: translate(63vw, -1vh) rotate(-1deg);
    }

    54% {
        transform: translate(64vw, -1.5vh) rotate(-1.5deg);
    }

    55% {
        transform: translate(65vw, -2vh) rotate(-2deg);
    }

    56% {
        transform: translate(66vw, -3.75vh) rotate(-3.75deg);
    }

    57% {
        transform: translate(67vw, -4.5vh) rotate(-4.5deg);
    }

    58% {
        transform: translate(68vw, -6vh) rotate(-6deg);
    }

    59% {
        transform: translate(69vw, -8vh) rotate(-8deg);
    }

    60% {
        transform: translate(70vw, -10vh) rotate(-10deg);
    }

    65% {
        transform: translate(75vw, -20vh) rotate(-24deg);
    }

    70% {
        transform: translate(80vw, -30vh) rotate(-41deg);
    }

    75% {
        transform: translate(85vw, -42vh) rotate(-51deg);
    }

    80% {
<<<<<<< HEAD
        transform: translate(100vw, -44vh) rotate(-78 deg);
    }

    85% {
        transform: translate(100vw, -58vh) rotate(-82deg);
    }

    90% {
        transform: translate(100vw, -73vh) rotate(-86deg);
    }

    95% {
        transform: translate(100vw, -88vh) rotate(-90deg);
    }

    100% {
        transform: translate(100vw, -100vh) rotate(-90deg);
=======
        transform: translate(90vw, -54vh) rotate(-54deg);
    }

    85% {
        transform: translate(95vw, -66vh) rotate(-57deg);
    }

    90% {
        transform: translate(100vw, -78vh) rotate(-63deg);
    }

    95% {
        transform: translate(105vw, -90vh) rotate(-66deg);
    }

    100% {
        transform: translate(110vw, -100vh) rotate(-69deg);
>>>>>>> 12ae3abcb874db7dc11a29e3508d09e86fb5808c
        opacity: 1;
    }
}

@media (max-width:1199.98px) {
    .capsule {
        left: -250px;
    }

    .rocket_width {
        width: 300px;
    }
}

@media (max-width:1023.98px) {
    .capsule {
        left: -150px;
    }

    .rocket_width {
        width: 200px;
    }
}

@media (max-width:767.98px) {
    .capsule {
        left: -150px;
    }

    .rocket_width {
        width: 200px;
    }

    @keyframes rocket_icon {
        0% {
            transform: translateX(0);
            opacity: 1;
        }

        5% {
            transform: translateX(6vw);
        }

        10% {
            transform: translateX(12vw);
        }

        15% {
            transform: translateX(18vw);
        }

        20% {
            transform: translateX(24vw);
        }

        25% {
            transform: translateX(30vw);
        }

        30% {
            transform: translateX(36vw);
        }

        35% {
            transform: translateX(42vw);
        }

        40% {
            transform: translate(48vw, -2vh) rotate(-4deg);
        }

        45% {
            transform: translate(54vw, -4vh) rotate(-10deg);
        }

        50% {
            transform: translate(60vw, -6vh) rotate(-16deg);
        }

        55% {
            transform: translate(66vw, -8vh) rotate(-22deg);
        }

        60% {
            transform: translate(72vw, -12vh) rotate(-28deg);
        }

        65% {
            transform: translate(76vw, -18vh) rotate(-34deg);
        }

        70% {
            transform: translate(80vw, -24vh) rotate(-40deg);
        }

        75% {
            transform: translate(84vw, -30vh) rotate(-50deg);
        }

        80% {
            transform: translate(88vw, -44vh) rotate(-60deg);
        }

        85% {
            transform: translate(92vw, -58vh) rotate(-70deg);
        }

        90% {
            transform: translate(96vw, -73vh) rotate(-72deg);
        }

        95% {
            transform: translate(100vw, -88vh) rotate(-74deg);
        }

        100% {
            transform: translate(103vw, -100vh) rotate(-76deg);
            opacity: 1;
        }
    }
}
